<div class="row">

<div class="col-md-3 footer-brand animated fadeInLeft">
<h2>Тесты для Анюты)))</h2>
<p>Мы предлагаем порешать тест Анюте и сдать тест на максимальный бал</p>
<p>© 2024 Тесты для Анюты.</p>
</div>

<div class="col-md-4 footer-nav animated fadeInUp">
<h4>Меню</h4>
<div class="col-md-6">
<ul class="pages">
<li><a href="{% url 'home' %}">Главная</a></li>
<li><a href="{% url 'tests' %}">Тесты</a></li>
<li><a href="{% url 'result' %}">Результаты</a></li>
</ul>
</div>
</div>

<div class="col-md-2 footer-social animated fadeInDown">
<h4>Соц.сети</h4>
<ul>
<li><a href="https://vk.com/garmonik_m">ВКонтакте</a></li>
<li><a href="https://t.me/Garmonik_m">Telegram</a></li>
</ul>
</div>

</div>
